:root {
  --cg-accent-p: #5a4316;
  --cg-accent-s: #ffaf53;
  --cg-accent-f: #faf2eb;
  --cg-bg-primary: #f5f6fa;
  --cg-bg-secondary: #dcdde1;
  --cg-bg-invert: #1d1d1c;
  --cg-text: #2f3542;
  --cg-outline: rgba(0, 0, 0, 0.075);
  --cg-padding: 10px;
  --cg-bezier: cubic-bezier(0.5, 0, 0, 0.75);

  --cg-font-primary: "Montserrat", sans-serif;
  --cg-font-secondary: "Playfair Display", serif;
}

html {
  overflow-x: hidden;
}

html,
body {
  background: var(--cg-bg-primary);
  color: var(--cg-text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  max-width: 100vw !important;
}

* {
  box-sizing: border-box;
  font-family: var(--cg-font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--cg-accent-p);
  text-decoration: none;
  border-bottom: 1px solid var(--cg-accent-p);
  transition: 0.3s border-bottom var(--cg-bezier), 0.3s border var(--cg-bezier);
  margin-bottom: 5px;
}

a:hover,
a:focus {
  border-bottom: 3px solid var(--cg-accent-p);
}

p {
  line-height: 1.5em;
}

header {
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 9;
  background-color: var(--cg-bg-primary);
  border-bottom: 1px solid var(--cg-outline);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 50px -12px;
}

header > .cg-header-alert {
  background-color: var(--cg-accent-f);
  padding: var(--cg-padding);
  text-align: center;
}

h1 {
  border-bottom: 3px solid var(--cg-accent-s);
  display: inline-block;
  font-size: 4em;
  font-weight: 500;
  font-family: var(--cg-font-secondary);
  margin-top: 0px;
  margin-bottom: 10px;
  animation: 2.2s text-animated var(--cg-bezier);
}

h2 {
  font-size: 2em;
  font-weight: normal;
  border-bottom: 3px solid var(--cg-accent-s);
  font-family: var(--cg-font-secondary);
  display: inline;
  margin-bottom: 30px;
}

label {
  display: block;
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

input {
  background-color: transparent;
  display: block;
  width: 100%;
  padding: 10px 5px;
  border: 1px solid var(--cg-outline);
  border-radius: 5px;
  outline: 0px solid transparent;
  margin-bottom: 7px;
  transition: outline 0.25s var(--cg-bezier), border 0.3s var(--cg-bezier);
}

input:hover {
  border: 1px solid var(--cg-accent-s);
}

input:active,
input:focus {
  background-color: transparent;
  outline: 3px solid #ffe5c8;
  border: 1px solid var(--cg-accent-s);
}

.cg-font-secondary {
  font-family: var(--cg-font-secondary);
}

.cg-home-icon {
  background-color: transparent;
  border: 3px solid transparent;
  flex: 0 0 auto;
  border-radius: 5px;
}

.cg-home-icon:hover,
.cg-home-icon:focus {
  background-color: var(--cg-accent-f);
  border: 1px solid var(--cg-accent-s);
}

.cg-home-icon > svg > g > path {
  fill: var(--cg-text) !important;
}

.header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 1.7em;
  color: var(--cg-text);
}

.cg-max-container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.cg-navigation-cont {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.cg-home-icon-cont {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

nav {
  flex: 1;
  justify-self: center;
}

nav > ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

nav > ul > li > a {
  padding: 15px 20px;
  margin: 0 5px;
  border-radius: 5px;
  border: none;
  color: var(--cg-text);
  border: 1px solid transparent;
  transition: 0.3s background-color var(--cg-bezier), 0.3s border var(--cg-bezier);
  display: flex;
  align-items: center;
}

nav > ul > li > a > i {
  margin-left: 8px;
  opacity: 0.7;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
  border: none;
  background-color: var(--cg-accent-f);
  border: 1px solid var(--cg-accent-s);
}

nav > ul > li {
  position: relative;
  display: inline-block;
}

.cg-mobile-navigation {
  position: fixed;
  top: 0;
  background: var(--cg-bg-primary);
  /* border: 1px solid var(--cg-accent-s); */
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  z-index: 10;
  animation: 0.5s img-animated var(--cg-bezier);
}

@keyframes submenu-initial {
  0% {
    opacity: 0;
    top: 25px;
  }

  100% {
    opacity: 1;
    top: 35px;
  }
}

.submenu {
  display: none;
  position: absolute;
  background-color: var(--cg-bg-primary);
  padding: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(47, 53, 66, 0.15);
  z-index: 1;
  top: 35px;
  border-radius: 5px;
  border: 1px solid var(--cg-outline);
  animation: 0.3s submenu-initial var(--cg-bezier);
}

.submenu a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  border: 1px solid transparent;
  margin-bottom: 10px;
}

.submenu a:last-child {
  margin-bottom: 0px;
}

.submenu a:hover,
.submenu a:focus {
  background-color: var(--cg-accent-f);
  border: 1px solid var(--cg-accent-s) !important;
  outline: none;
}

nav > ul > li:hover .submenu,
.submenu:focus-within {
  display: block;
}

/* main {
  margin-top: 105px;
} */

.cg-link-btn {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: var(--cg-accent-f);
  border: 2px solid var(--cg-outline);
  color: var(--cg-text);
  transition: 0.3s background-color var(--cg-bezier), 0.3s color var(--cg-bezier);
}

.cg-link-btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.cg-link-btn:hover,
.cg-link-btn:focus {
  border: 2px solid var(--cg-outline);
  background-color: var(--cg-accent-p);
  color: var(--cg-bg-primary);
}

.cg-link-btn.light {
  background-color: var(--cg-bg-primary);
}

.cg-link-btn.light:hover,
.cg-link-btn.light:focus {
  border: 2px solid var(--cg-accent-s);
  background-color: var(--cg-accent-f);
  color: var(--cg-text);
}

/* Footer */
footer {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #2f3542;
  color: #faf2eb;
}

footer a {
  color: #faf2eb;
  border-color: transparent;
  margin-bottom: 10px;
  display: inline-block;
}

footer a:hover {
  border-color: #faf2eb;
}

.cg-footer-section {
  display: grid;
  grid-template-columns: repeat(6, 16%);
  gap: 0.6%;
}

.cg-footer-section > div {
  margin-bottom: 20px;
}

.script-animated {
  transition: transform 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94), left 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.desktop-no-show {
  display: none !important;
}

.cg-main-header {
  padding: 80px 0px;
  /* border-bottom: 1px solid var(--cg-outline); */
}

section {
  padding-top: 40px;
  padding-bottom: 80px;
  border-bottom: 2px solid var(--cg-outline);
}

.cg-section-no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.cg-header-description {
  animation: 2s text-animated var(--cg-bezier);
}

.cg-main-header img {
  animation: 1s img-animated var(--cg-bezier);
}

@media screen and (max-width: 868px) {
  .desktop-no-show {
    display: block !important;
  }

  body {
    position: relative;
  }

  .mobile-no-show {
    display: none !important;
  }

  .cg-hero-content-quote {
    font-size: 1.7em !important;
  }

  .cg-main-hero-bg {
    background-attachment: scroll !important;
  }

  .grid-to-block {
    display: block !important;
  }

  .cg-side-by-side > div:nth-of-type(1) {
    margin-right: 0px !important;
    margin-bottom: 20px;
  }
}

.highlight {
  font-family: inherit;
  color: var(--cg-accent-p);
  border-bottom: 3px solid var(--cg-accent-s);
  font-weight: bold;
}

@keyframes highlight-animated {
  0% {
    right: 15px;
    opacity: 0;
  }

  100% {
    right: 0px;
    opacity: 1;
  }
}

@keyframes text-animated {
  0% {
    transform: translateX(-15px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes img-animated {
  0% {
    transform: translateX(15px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.highlight.animated {
  position: relative;
  opacity: 1;
  animation: 1s highlight-animated var(--cg-bezier);
}

.cg-side-by-side {
  display: flex;
  align-items: center;
  /* justify-items: center; */
}

.cg-side-by-side > div {
  flex: 1;
  height: 100%;
}

.cg-side-by-side > div:nth-of-type(1) {
  margin-right: 40px;
}

/* Breadcrumbs */
ul.breadcrumb {
  animation: 1s text-animated var(--cg-bezier);
  padding: 10px 0px;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: var(--cg-accent-s);
  content: "/\00a0";
}

ul.breadcrumb li a {
  font-size: 0.9em;
}

ul.breadcrumb li a.current {
  font-weight: 500;
  border: none;
  cursor: default;
}

ul.breadcrumb li a.current:hover {
  border: none;
}
