.cg-live-activity {
  display: inline-block;
  background: var(--cg-outline);
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.cg-live-activity.live > span {
  color: #ff4757;
}

.cg-live-activity.not-live > span {
  color: #a5a5a5;
}

.cg-youtube-player {
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  height: 500px;
  width: 100%;
  background-color: var(--cg-outline);
}
